body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cont-main {
  background-color: rgba(252, 248, 255, 255);
  width: 97%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cont-purple {
  background-color: rgba(30, 31, 37, 255);
  width: 80%;
  height: 600px;
  border-radius: 10px 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  width: 60%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 3%;
  margin-left: 20%;
  color: white;
  z-index: 5;
}

.blog {
  width: 80%;
  height: 10%;
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p,
h2,
h1 {
  margin: 0;
}

.icon-blogger {
  color: rgba(193, 131, 238, 255);
}

.icon-eq {
  color: white;
}

.font-cursive {
  width: 100%;
  height: 10%;
  color: rgba(118, 90, 150, 255);
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  margin-top: 7%;
}

.name {
  width: 100%;
  height: 15%;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 70px;
  margin-top: -3%;
}

.lastname {
  width: 100%;
  height: 15%;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 70px;
  margin-top: -5%;
}

.description {
  width: 70%;
  height: 20%;
  color: rgba(119, 118, 125, 255);
  font-family: "Baloo Tammudu 2", cursive;
  line-height: 25px;
  margin-top: 3%;
}

.btns {
  width: 70%;
  height: 7%;
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns div {
  width: 45%;
  height: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
}

.btn-playlist {
  background: linear-gradient(
    to right,
    rgba(206, 134, 240, 255),
    rgba(180, 121, 243, 255)
  );
}

.btn-playlist a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-right {
  color: white;
}

.btn-iam {
  border: rgba(99, 98, 103, 255) 1px solid;
  background: rgba(30, 31, 37, 255);
}

.cont-media {
  width: 85%;
  height: 10%;
  margin-top: 7%;
}

.cont-media ul {
  list-style-type: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.cont-media li {
  text-align: left;
  display: inline;
}

.cont-media a {
  text-decoration: none;
  color: rgba(99, 98, 103, 255);
  font-size: 25px;
}

.cont-pictures {
  background: linear-gradient(
    135deg,
    rgba(254, 111, 164, 255) 30%,
    rgba(239, 147, 208, 255),
    rgba(229, 183, 246, 255) 70%
  );
  width: 50%;
  height: 450px;
  margin-left: -20%;
  border-radius: 0 10px 0 150px;
  display: flex;
  justify-content: flex-start;
}

.group-pic {
  background: transparent;
  width: 80%;
  height: 95%;
  display: flex;
}

.cont-medium {
  background: linear-gradient(
    rgba(254, 131, 161, 255),
    rgba(233, 169, 215, 255),
    rgba(239, 147, 208, 255)
  );
  width: 45%;
  height: 75%;
  border-radius: 150px;
  position: relative;
  left: 10%;
  margin-top: 7%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
}

.cont-small {
  background: linear-gradient(
    rgba(254, 131, 161, 255),
    rgba(229, 222, 250, 255)
  );
  width: 85%;
  height: 75%;
  margin-top: 10%;
  margin-right: 5%;
  border-radius: 150px;
  box-shadow: -80px 120px 80px rgba(155, 91, 152, 255);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
}

.photo1 {
  width: 87%;
  height: 60%;
  border-radius: 150px;
  align-self: flex-end;
  padding: 10px;
}

.cont-large {
  background: linear-gradient(
    135deg,
    rgba(254, 111, 164, 255) 20%,
    rgba(246, 158, 206, 255),
    rgba(249, 229, 254, 255) 80%
  );
  width: 50%;
  height: 95%;
  border-radius: 0 0 150px 150px;
  position: relative;
  left: -5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.circle-small {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 60px;
  height: 60px;
  border-radius: 150px;
  position: absolute;
  left: 56%;
  top: 44%;
  box-shadow: 10px 10px 30px rgba(214, 179, 211, 255);
  z-index: 0;
}

.circle-big {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 120px;
  height: 120px;
  border-radius: 150px;
  position: absolute;
  left: 45%;
  top: 67%;
  box-shadow: -30px 100px 60px rgba(155, 91, 152, 255);
  z-index: 2;
}

.photo2 {
  width: 70%;
  height: 40%;
  border-radius: 150px;
  align-self: center;
  margin-bottom: 15%;
  z-index: 1;
}

.photov {
  width: 65%;
  height: 50%;
  border-radius: 0 0 150px 150px;
  align-self: center;
  z-index: 3;
}

.scroll {
  width: 15%;
  height: 15%;
  font-size: 10px;
  color: rgba(99, 98, 103, 255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-end;
}

.scroll p {
  margin-top: 5%;
  width: 95%;
  text-align: end;
}

.scroll hr {
  width: 1px;
  border: transparent;
  height: 60px;
  background: grey;
  opacity: 0.1;
}

.circle-back-small {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 130px;
  height: 130px;
  border-radius: 150px;
  position: absolute;
  margin-left: 85%;
  margin-top: 800px;
  box-shadow: 10px 10px 30px rgba(228, 224, 230, 255);
}

.circle-back-big {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 150px;
  height: 150px;
  border-radius: 150px;
  position: absolute;
  left: -3%;
  margin-top: 570px;
  box-shadow: -10px 10px 30px rgba(228, 224, 230, 255);
}

.projects {
  width: 97%;
  background-color: rgba(252, 248, 255, 255);
  height: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.projects p:first-of-type {
  width: 40%;
  color: rgba(30, 31, 37, 255);
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}

.projects p:nth-of-type(2) {
  color: rgba(99, 97, 118, 255);
  font-size: 15px;
  font-family: "Baloo Tammudu 2", cursive;
  width: 35%;
  line-height: 25px;
  align-self: center;
  margin-top: 30px;
}

.div-projects {
  width: 60%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.p-projects {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .p-projects p {
  width: 100%;
  text-align: start;
  height: auto;
}

.img-projects {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-projects a img:first-of-type {
  width: 100%;
  height: 70%;
  box-shadow: -15px -15px 40px rgba(234, 232, 235, 255);
  border-radius: 20px;
}

.div-projects a img:nth-of-type(2) {
  width: 25%;
  height: 60%;
  margin-left: -20%;
  margin-top: 30%;
  box-shadow: 5px 5px 40px rgba(234, 232, 235, 255);
  border-radius: 10px;
  z-index: 2;
}

.div-projects a img:nth-of-type(3) {
  width: 25%;
  height: 60%;
  margin-left: -40%;
  margin-top: -30%;
  box-shadow: 5px 5px 40px rgba(234, 232, 235, 255);
  border-radius: 10px;
}

.gifs {
  width: 90%;
  height: 600px;
  display: flex;
  margin-top: 40px;
  background-color: rgba(30, 31, 37, 255);
  border-radius: 0px 150px 0 0;
  align-self: flex-start;
  justify-content: space-around;
}

.gifs p:first-of-type {
  color: white;
}

.gifs .p-projects {
  width: 30%;
  margin-left: 10%;
}

.img-pages {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.img-pages a {
  width: 65%;
  height: 40%;
}

.img-pages a:last-of-type {
  margin-left: 37%;
}

.img-pages a img:first-of-type {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 0px black;
}

.img-pages a img:nth-of-type(2) {
  width: 30%;
  height: 80%;
  border-radius: 10px;
  z-index: 3;
  margin-top: -50%;
  margin-left: 85%;
  box-shadow: 0px 0px 0px black;
}

.footer {
  width: 60%;
  height: 40px;
  padding-top: 20px;
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  justify-content: space-between;
}

.footer .cont-media {
  width: 50%;
  margin: 0;
}

.footer .cont-media ul {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.footer .cont-media a {
  font-size: 15px;
}

hr {
  width: 60%;
  height: 1px;
  background-color: rgb(189, 185, 185);
  margin-top: 0;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .cont-main,
  .projects {
    width: 100%;
    margin: 0;
  }

  .cont-purple {
    width: 70%;
    border-radius: 0 0 150px 0;
  }

  .cont-pictures {
    border-radius: 0 0 0 150px;
    width: 60%;
  }

  .text {
    margin-left: 10%;
    width: 80%;
  }

  .blog,
  .cont-media {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .group-pic {
    width: 90%;
  }

  .text {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1100px) {
  .group-pic {
    width: 100%;
  }

  .name,
  .lastname {
    font-size: 65px;
  }

  .scroll {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .name,
  .lastname {
    font-size: 58px;
  }

  .gifs .p-projects {
    width: 25%;
    margin-left: 5%;
  }

  .img-pages {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .cont-main {
    flex-direction: column;
  }

  .cont-purple {
    width: 100%;
    border-radius: 0;
    height: 700px;
  }

  .text {
    width: 90%;
    margin-left: 10%;
  }

  .name,
  .lastname {
    font-size: 75px;
  }

  .blog,
  .cont-media {
    width: 90%;
  }

  .cont-pictures {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    height: 700px;
  }

  .group-pic {
    width: 80%;
  }

  .circle-small {
    width: 70px;
    height: 70px;
  }

  .circle-big {
    width: 150px;
    height: 150px;
  }

  .circle-back-big {
    margin-top: 1350px;
  }

  .circle-back-small {
    margin-top: 1650px;
    margin-left: 75%;
  }

  .div-projects {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .group-pic {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .group-pic {
    width: 100%;
  }

  .name,
  .lastname {
    font-size: 65px;
  }

  .btns {
    width: 90%;
  }

  .circle-back-big,
  .circle-back-small {
    display: none;
  }

  .projects {
    padding-top: 60px;
  }

  .projects p:first-of-type {
    width: 70%;
    font-size: 20px;
  }

  .projects p:nth-of-type(2) {
    width: 65%;
    font-size: 13px;
  }

  .gifs {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    justify-content: flex-start;
  }

  .gifs .p-projects {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .img-pages {
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .img-pages a {
    width: 45%;
    height: 80%;
  }

  .img-pages a:last-of-type {
    margin: -20% 0 0 0;
  }

  .img-pages a img:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .cont-pictures {
    height: 550px;
  }

  .group-pic {
    width: 100%;
  }

  .name,
  .lastname {
    font-size: 55px;
  }

  .div-projects {
    justify-content: center;
  }

  .p-projects p:nth-of-type(2) {
    width: 90%;
  }

  .p-projects {
    width: 70%;
  }

  .img-projects {
    width: 30%;
  }

  .img-pages {
    width: 60%;
  }

  .img-pages a img:nth-of-type(2) {
    display: block;
  }

  .div-projects a img:first-of-type {
    display: none;
  }

  .div-projects a img:nth-of-type(2) {
    width: 95%;
    height: 100%;
    margin: 0 2% 0 2%;
  }

  .div-projects a img:nth-of-type(3) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .cont-pictures {
    height: 400px;
  }

  .name,
  .lastname {
    font-size: 45px;
  }

  .lastname {
    margin-top: -10%;
  }

  .font-cursive {
    margin-top: 20%;
  }

  .circle-small {
    width: 50px;
    height: 50px;
  }

  .circle-big {
    width: 100px;
    height: 100px;
  }

  .div-projects {
    width: 100%;
  }

  .p-projects {
    width: 55%;
  }

  .img-projects {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .cont-pictures {
    height: 350px;
  }

  .name,
  .lastname {
    font-size: 34px;
  }

  .lastname {
    margin-top: -20%;
  }

  .btns div {
    font-size: 12px;
  }

  .img-pages {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .cont-pictures {
    height: 300px;
  }

  .name,
  .lastname {
    font-size: 30px;
  }

  .lastname {
    margin-top: -25%;
  }

  .btns div {
    font-size: 10px;
  }
}
