.cont-main {
  background-color: rgba(252, 248, 255, 255);
  margin: 30px;
  height: auto;
  display: flex;
  border-radius: 10px;
  width: auto;
}

.cont-purple {
  background-color: rgba(30, 31, 37, 255);
  width: 65%;
  height: 650px;
  border-radius: 10px 0 150px 0;
  color: white;
  position: absolute;
  display: flex;
}

.cont-pictures {
  background: linear-gradient(
    135deg,
    rgba(254, 111, 164, 255) 30%,
    rgba(239, 147, 208, 255),
    rgba(229, 183, 246, 255) 70%
  );
  width: 47%;
  height: 500px;
  border-radius: 0 10px 0 150px;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
}

.group-pic {
  background: transparent;
  width: 80%;
  height: 450px;
  display: flex;
}

.cont-medium {
  background: linear-gradient(
    rgba(254, 131, 161, 255),
    rgba(233, 169, 215, 255),
    rgba(239, 147, 208, 255)
  );
  width: 60%;
  height: 75%;
  border-radius: 150px;
  position: relative;
  left: 12%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cont-small {
  background: linear-gradient(
    rgba(254, 131, 161, 255),
    rgba(229, 222, 250, 255)
  );
  width: 75%;
  height: 75%;
  margin-top: 10%;
  border-radius: 150px;
  box-shadow: -80px 150px 100px rgba(155, 91, 152, 255);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

.photo1 {
  width: 87%;
  height: 65%;
  border-radius: 150px;
  align-self: flex-end;
  padding: 10px;
}

.cont-large {
  background: linear-gradient(
    135deg,
    rgba(254, 111, 164, 255) 20%,
    rgba(246, 158, 206, 255),
    rgba(249, 229, 254, 255) 80%
  );
  width: 60%;
  height: 95%;
  border-radius: 0 0 150px 150px;
  position: relative;
  left: -5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.circle-small {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 60px;
  height: 60px;
  border-radius: 150px;
  position: absolute;
  left: 63%;
  top: 33%;
  box-shadow: 10px 10px 30px rgba(214, 179, 211, 255);
  z-index: 0;
}

.circle-big {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 120px;
  height: 120px;
  border-radius: 150px;
  position: absolute;
  left: 37%;
  top: 50%;
  box-shadow: -30px 120px 60px rgba(155, 91, 152, 255);
  z-index: 0;
}

.photo2 {
  width: 77%;
  height: 45%;
  border-radius: 150px;
  align-self: center;
  margin-bottom: 10%;
  z-index: 1;
}

.photov {
  width: 63%;
  height: 47%;
  border-radius: 0 0 150px 150px;
  align-self: flex-start;
  z-index: 3;
}

.scroll {
  position: absolute;
  left: 50%;
  font-size: 10px;
  margin-top: 520px;
  width: 100px;
  color: rgba(99, 98, 103, 255);
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.scroll hr {
  width: 1px;
  border: transparent;
  height: 60px;
  background: grey;
  margin: 10px;
  padding: 0;
  opacity: 0.1;
}

.text {
  background: transparent;
  margin-left: 150px;
  margin-top: 20px;
  position: absolute;
  z-index: 4;
}

.blog {
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 700;
  display: flex;
}

.icon-blogger {
  color: rgba(193, 131, 238, 255);
}

.icon-eq {
  color: white;
  margin: 9px 0 0 65%;
}

.font-cursive {
  color: rgba(118, 90, 150, 255);
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  margin-top: 30px;
}

.name {
  color: white;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  line-height: 20px;
}

.lastname {
  color: white;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  line-height: 20px;
}

.description {
  color: rgba(119, 118, 125, 255);
  font-family: "Baloo Tammudu 2", cursive;
  width: 400px;
  line-height: 25px;
}

.btn-playlist {
  background: linear-gradient(
    to right,
    rgba(206, 134, 240, 255),
    rgba(180, 121, 243, 255)
  );
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  border-radius: 50px;
  width: 180px;
  height: 45px;
  left: 30px;
  text-align: center;
  margin-top: 30px;
  display: flex;
}

.icon-right {
  color: white;
  margin-left: 10px;
}

.btn-playlist a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.btn-playlist p {
  margin: 7px 0 0 45px;
  text-align: center;
}

.btn-iam {
  position: absolute;
  left: 250px;
  margin-top: -45px;
  border-radius: 40px;
  border: rgba(99, 98, 103, 255) 1px solid;
  background: rgba(30, 31, 37, 255);
  color: white;
  width: 179px;
  height: 44px;
  text-align: center;
  font-size: 15px;
}

.btn-iam p {
  margin-top: 10px;
}

.cont-media {
  margin-top: 70px;
  background-color: transparent;
  position: relative;
  left: -80px;
}

.cont-media ul {
  list-style-type: none;
  text-align: left;
}

.cont-media li {
  text-align: left;
  padding-top: 10px;
  display: inline;
}

.cont-media a {
  text-decoration: none;
  color: rgba(99, 98, 103, 255);
  padding: 50px;
  font-size: 25px;
}

.circle-back-big {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 130px;
  height: 130px;
  border-radius: 150px;
  position: absolute;
  margin-left: 85%;
  margin-top: 730px;
  box-shadow: 10px 10px 30px rgba(228, 224, 230, 255);
}

.circle-back-small {
  background: radial-gradient(
    rgba(238, 232, 254, 255),
    rgba(215, 202, 252, 255)
  );
  width: 150px;
  height: 150px;
  border-radius: 150px;
  position: absolute;
  left: -3%;
  margin-top: 530px;
  box-shadow: -10px 10px 30px rgba(228, 224, 230, 255);
}

.projects {
  display: flex;
  margin-top: 750px;
  text-align: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projects p:first-of-type {
  color: rgba(30, 31, 37, 255);
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}

.projects p:nth-of-type(2) {
  color: rgba(99, 97, 118, 255);
  font-size: 15px;
  font-family: "Baloo Tammudu 2", cursive;
  width: 50%;
  line-height: 17px;
  align-self: center;
}

.projects div p:first-of-type {
  font-size: 25px;
  text-align: left;
}

.projects div p:nth-of-type(2) {
  text-align: left;
}

.div-projects {
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.p-projects {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-projects {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-projects a img:first-of-type {
  width: 100%;
  height: 280px;
  border-radius: 40px;
  box-shadow: -15px -15px 40px rgba(234, 232, 235, 255);
  margin: 0;
  padding: 0;
}

.div-projects a img:nth-of-type(2) {
  width: 7.5%;
  height: 30%;
  position: absolute;
  margin-left: -13%;
  margin-top: 11%;
  box-shadow: 5px 5px 40px rgba(234, 232, 235, 255);
}

.div-projects a img:nth-of-type(3) {
  width: 7.5%;
  height: 30%;
  position: absolute;
  margin-left: -7%;
  margin-top: 3%;
  box-shadow: 5px 5px 40px rgba(234, 232, 235, 255);
}

.div-projects .img-projects a .cell-blog {
  margin-left: -8%;
}

.div-projects .img-projects a .form {
  border-radius: 0;
}

.div-projects .img-projects a .cell-form-01 {
  margin-left: -10%;
}

.div-projects .img-projects a .calc-light {
  width: 85%;
}

.div-projects .img-projects a .cell-calc-dark {
  margin-left: -7%;
  margin-top: -3%;
}

.final {
  font-family: "Baloo Tammudu 2", cursive;
  font-weight: 700;
  width: 96%;
  height: 100px;
  margin-left: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.cont-media-final ul {
  list-style-type: none;
  text-align: right;
}

.cont-media-final li {
  text-align: right;
  padding-top: 10px;
  display: inline;
}

.cont-media-final a {
  text-decoration: none;
  color: rgb(49, 49, 56);
  padding: 10px;
  font-size: 15px;
}

hr {
  width: 80%;
  color: rgba(99, 98, 103, 255);
  opacity: 0.5;
}

footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1150px) {
  .group-pic {
    height: 430px;
  }

  .circle-small {
    top: 31%;
  }
}

@media screen and (max-width: 1100px) {
  .group-pic {
    height: 400px;
  }

  .circle-small {
    top: 29%;
  }

  .circle-big {
    left: 37%;
    top: 48%;
  }
}

@media screen and (max-width: 1060px) {
  .cont-pictures {
    width: 56%;
    left: 40%;
  }

  .group-pic {
    width: 80%;
  }

  .scroll {
    left: 60%;
  }

  .text {
    margin-left: 60px;
  }

  .icon-eq {
    margin: 9px 0 0 45%;
  }

  .name,
  .lastname {
    font-size: 50px;
  }

  .circle-back-big {
    display: none !important;
  }

  .circle-back-small {
    display: none !important;
  }
}

@media screen and (max-width: 980px) {
  .group-pic {
    height: 370px;
  }

  .circle-small {
    top: 25%;
  }

  .circle-big {
    left: 38%;
    top: 43%;
  }

  .div-projects{
    width: 90%;
  }

  .div-projects a img:nth-of-type(2){
    width: 10%;
    margin-left: -16%;
  }

  .div-projects .img-projects a .cell-blog{
    margin-left: -9%;
  }

  .div-projects a img:nth-of-type(3){
    width: 10%;
  }
}

@media screen and (max-width: 840px) {
  .cont-pictures {
    height: 450px;
  }

  .group-pic {
    height: 320px;
  }

  .circle-big {
    left: 37%;
    top: 38%;
  }

  .btn-playlist a {
    font-size: 20px;
  }

  .btn-iam {
    position: absolute;
    margin: 30px 0 0 -250px;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .cont-media {
    margin: 130px 0 0 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .cont-media a {
    padding: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .group-pic {
    height: 300px;
  }

  .circle-small {
    top: 23%;
  }

  .circle-big {
    left: 37%;
    top: 35%;
  }

  .div-projects a img:first-of-type{
    height: 200px;
  }

  .div-projects a img:nth-of-type(2){
    height: 20%;
  }

  .div-projects a img:nth-of-type(3){
    height: 20%;
  }
}

@media screen and (max-width: 690px) {
  .cont-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .cont-purple {
    width: 100%;
    border-radius: 0;
    position: static;
  }

  .cont-pictures {
    width: 100%;
    height: 500px;
    border-radius: 0;
    position: static;
  }

  .group-pic {
    width: 80%;
    height: 470px;
  }

  .circle-small {
    display: none;
  }

  .circle-big {
    display: none;
  }

  .text {
    margin: -1140px 0 0 12%;
    padding: 0;
    position: relative;
  }

  .blog {
    font-size: 15px;
  }

  .icon-eq {
    margin-left: 60%;
  }

  .font-cursive {
    line-height: 2px;
    font-size: 15px;
  }

  .description {
    font-size: 15px;
    width: 80%;
  }

  .name,
  .lastname {
    font-size: 40px;
  }

  .btn-playlist {
    width: 200px;
    height: 50px;
  }

  .btn-playlist a {
    font-size: 20px;
  }

  .btn-iam {
    position: absolute;
    margin: 30px 0 0 -250px;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .cont-media {
    margin: 130px 0 0 0;
    display: flex;
    justify-content: space-evenly;
  }

  .cont-media a {
    padding: 18px;
    font-size: 20px;
  }

  .projects {
    width: 100%;
    margin-top: 650px;
  }

  .projects_title {
    font-size: 20px;
  }

  .projects p:first-of-type {
    font-size: 20px;
  }

  .projects p:nth-of-type(2) {
    font-size: 12px;
  }

  .scroll {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  .cont-pictures {
    height: 390px;
  }

  .group-pic {
    height: 360px;
  }

  .text {
    margin-top: -980px;
  }

  .projects{
    margin-top: 500px;
  }

  .projects div p:nth-of-type(2){
    width: 80%;
  }

  .div-projects{
    height: 250px;
  }
  .p-projects{
    width: 65%;
  }

  .img-projects{
    width: 35%;
  }

  .div-projects a img:first-of-type{
    height: 150px;
    border-radius: 0;
  }

  .div-projects a img:nth-of-type(2){
    height: 15%;
  }

  .div-projects a img:nth-of-type(3){
    height: 15%;
  }
}

@media screen and (max-width: 420px) {
  .cont-pictures {
    height: 330px;
  }

  .group-pic {
    height: 280px;
  }

  .font-cursive {
    line-height: 15px;
  }

  .name,
  .lastname {
    font-size: 30px;
    top: 50px;
    line-height: 40px;
  }

  .btn-iam,
  .btn-playlist {
    width: 150px;
    height: 40px;
    font-size: 15px;
  }

  .btn-playlist a {
    font-size: 15px;
  }

  .cont-media {
    margin: 100px 0 0 0;
  }

  .cont-media a {
    padding: 7px;
    font-size: 20px;
  }

  .projects {
    margin-top: 500px;
  }

  .projects div p:first-of-type{
    font-size: 18px;
  }

  .div-projects{
    margin-top: 30px;
  }

  .div-projects a img:first-of-type{
    display: none;

  }

  .div-projects a img:nth-of-type(2){
    margin: 0;
    width: 85%;
    height: 230px;
    position: relative;
  }


}

@media screen and (max-width: 300px) {
  .cont-pictures {
    height: 260px;
  }

  .group-pic {
    height: 200px;
  }

  .text {
    margin-top: -900px;
  }


  .final{
    font-size: 8px;
  }

  .cont-media-final a {
    font-size: 8px;
    padding: 5px;
  }

  .projects{
    margin-top: 300px;
  }
}
